/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Arama alanı için ek CSS (isteğe bağlı) */
.search-input:focus {
  border-color: #3b82f6; /* Tailwind'ın blue-500 rengi */
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
}
